# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor / IDE files
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db
